doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    script(type='text/javascript', src='//cdn.jsdelivr.net/jquery/1/jquery.min.js')
    script(type='text/javascript', src='//cdn.jsdelivr.net/momentjs/latest/moment.min.js')
    script(type='text/javascript', src='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='//fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(type='text/javascript').
      $(function() {
      $('input[name="daterange"]').daterangepicker(
      {
      locale: {
      format: 'YYYY-MM-DD'
      }
      });
      });
  body
    nav.navbar.navbar-fixed-top.topHeader
      .container-fluid.row
        .container(style='body: flex')
          div
            .navbar-header(style='padding-top: 7px')
              a.logo(href='')
            .nav.navbar-nav.navbar-right.welcome
              label.text-capitalize Welcome  #{uid} !
      .container-fluid.row(style='background-color: #018DB1')
        .container(style='body: flex')
          ul.nav.nav-pills.tabsButtons
            li
              a(href='/homeUser') Vehicles
            li
              a(href='/previousBookings') Booking History
            li
              a(href='/settings') Settings
            li.navbar-right
              a(href='/login') Logout
    .container(style="margin-top: 160px; body: flex;")
      h2 Book a Vehicle
      //h4.text-info Pick a Date and then the type of Vehicle you are looking for.
    .container(style="body: flex;")
      .card.card-dark(style='background-color: #ADD8E6;')
        h3 To Book a Vehicle of your choice, please follow the below given steps
        .row(style='margin-top: 20px; margin-left: 50px')
          .col-md-1(style='text-align: right; padding: 17px')
            .glyphicon.glyphicon-check
          .col-md-11
           h3 Step 1 :
           |  Pick the dates for which you want the vehicle.
        .row(style='margin-top: 20px; margin-left: 50px')
          .col-md-1(style='text-align: right; padding: 17px')
            .glyphicon.glyphicon-check
          .col-md-11
            h3 Step 2 :
            |  Choose the type of Vehicle you would prefer.
            .row(style='margin-top: 20px; margin-left: 20px')
              h4 (a) Car
              h4 (b) Bike
        .row(style='margin-top: 40px; text-align: center;')
          .col-md-3
          .col-md-6
            a(href="#dateSection")
              .btn.btn-success.btn-lg.btn-block Start
    .container#dateSection
    .container(style="body: flex; height: 700px; margin-top:10%")
      .row(style='')
        form.card.card-dark(method='post', action='/homeUser/getDate', style='background-color: #c7ea46')
          h2 Pick your Dates
          h3(style='margin: 5%;') Please select the two dates - The Start date and End date.
          .row(style='margin: 10%;')
            .col-md-3
            .col-md-1(style='text-align: right;')
              .glyphicon.glyphicon-calendar(style='font-size: 3em;')
            .col-md-8
              input(type='text', name='daterange', required='', style='margin-top: 7px;')
          .row(style='margin-top: 40px; text-align: center;')
            .col-md-3
            .col-md-6
              a(href="#typeSection")
                input.btn.btn-primary.btn-lg.btn-block(type='submit', name='okay', value='Next')
    .container#typeSection
    .container(style="body: flex; height: 700px; margin-top: 10%")
      .row(style='')
        form.card.card-dark(method='post', action='/homeUser', style='padding-bottom: 80px; background-color: #c7ea46')
          h2 Car or Bike ?
          h3(style='margin: 4%;') What would you like to book today ?
          .row
            .col-md-4
            .col-md-2.focus-grid
              .focus-border
                .focus-layout
                  .focus-image
                    i.fa.fa-car
                    input.btn.btn-warning.btn-lg(type='submit', name='car', value='Cars', style='margin-top: 30px')
            .col-md-2.focus-grid
              .focus-border
                .focus-layout
                  .focus-image
                    i.fa.fa-motorcycle
                    input.btn.btn-warning.btn-lg(type='submit', name='bike', value='Bikes', style='margin-top: 30px')
    .container(style='body: flex; margin-top: 4%;')
      h2 Available Cars and Bikes
    .container(style='body: flex; margin-bottom: 10%')
      if (vdata.length)
        form(method='post', action='/homeUser/bookingVehicle', style='padding-left: 5%')
          for data in vdata
            .card.card-dark(style='font-size: 0.8em; padding: 2%; float: left; padding-right: 3%; margin: 3%; border-width: 5px; border-style: dashed; height: 320px')
              .row
                .col-md-7(style='text-align: right;')
                  label Plate Number :
                .col-md-5
                  |  #{data.plno}
              .row
                .col-md-7(style='text-align: right;')
                  label Model :
                .col-md-5
                  |  #{data.model}
              .row
                .col-md-7(style='text-align: right;')
                  label Company :
                .col-md-5
                  |  #{data.company}
              .row
                .col-md-7(style='text-align: right;')
                  label Type :
                .col-md-5
                  |  #{data.type}
              .row
                .col-md-7(style='text-align: right;')
                  label Color :
                .col-md-5
                  |  #{data.color}
              .row
                .col-md-7(style='text-align: right;')
                  label Seats :
                .col-md-5
                  |  #{data.seats}
              .row
                .col-md-7(style='text-align: right;')
                  h4 Price :
                .col-md-5
                  h5  Rs.#{data.cost}/Day
              .row(style='padding-top: 20px;')
                .col-md-2
                .col-md-1(style='padding-top: 20px;')
                  input.choice(type='radio', name='chosen', value=data.plno, required='')
                .col-md-5
                  h3 Choose
          .container
          .row(style='margin-top: 40px; text-align: center;')
            .col-md-3
            .col-md-6
              a(href="#typeSection")
                input.btn.btn-success.btn-lg.btn-block(type='submit', name='submitting', value='Book')
      else
        div(style='text-align: center; margin: 5%;')
          h4 No Vehicles Available !
