doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    script(type='text/javascript', src='//cdn.jsdelivr.net/jquery/1/jquery.min.js')
    script(type='text/javascript', src='//cdn.jsdelivr.net/momentjs/latest/moment.min.js')
    //script(type='text/javascript', src='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')
    //link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css')
    // link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='//fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    //script(type='text/javascript').
      $(function() {
      $('input[name="daterange"]').daterangepicker(
      {
      locale: {
      format: 'YYYY-MM-DD'
      }
      });
      });
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') RentalRides
      div
        label Welcome  #{eid} !
    header
      ul
        li
          a(href='/login') Logout
    div Info
    div
      if (data.length)
        ul
          li
            div
              label Employee Name : #{data.ename}
              br 
              label Garage ID : #{data.gid}
              br
              label Garage Location : #{data.gloc}
              br
              label Vehicles at Garage #{data.gid}
              br
        table(border='1')
          tr
            th Vehicle Model Name
            th Vehicle Plate No.
          for d in vdata
            tr
              td #{d.modname}
              td #{d.plno}
      else
        label No Vehicles Available !
