doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    // link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='//fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') RentalRides
      div
        label Welcome  #{uid} !
    header
      ul
        li
          a(href='/homeUser') Vehicles
        li
          a(href='#') Booking History
        li
          a(href='/settings') Settings
        li
          a(href='/login') Logout
    div
      h2 Booking History
    div
      if(vdata.length)
        for data in vdata
          label Payment id : #{data.payid}
          br
          label Payed on : #{data.paydt}
          br 
          label Method : #{data.method}
          br
          label Amount : #{data.amt}
          br
          label Booking id : #{data.bid}
          br
          label Plate No : #{data.plno}
          br 
          label Booked on : #{data.bdt}
          br
          label For a period of  : #{data.ndays} days
          br
      else
        label No Bokkings Yet !    
    div
