doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-fixed-top.topHeader
      .container-fluid.row
        .container(style='body: flex')
          div
            .navbar-header(style='padding-top: 7px')
              a.logo(href='')
            .nav.navbar-nav.navbar-right.welcome
              label.text-capitalize Welcome  #{uid} !
      .container-fluid.row(style='background-color: #018DB1')
        .container(style='body: flex')
          ul.nav.nav-pills.tabsButtons
            li
              a(href='/homeUser') Vehicles
            li
              a(href='/previousBookings') Booking History
            li
              a(href='/settings') Settings
            li.navbar-right
              a(href='/login') Logout
    .container(style="margin-top:160px; body: flex;")
      h2 Booking History
    .container(style='body: flex')
      if(vdata.length)
        for data in vdata
          .card.card-dark.row(style='padding: 3%;')
            .col-md-8
              .row
                .col-md-5(style='text-align: right;')
                  label Payment ID :
                .col-md-7
                  |  #{data.payid}
              .row
                .col-md-5(style='text-align: right;')
                  label Payment made on :
                .col-md-7
                  |  #{data.paydt}
              .row
                .col-md-5(style='text-align: right;')
                  label Amount Payed :
                .col-md-7
                  |  Rs. #{data.amt}/-
              .row
                .col-md-5(style='text-align: right;')
                  label Booking ID :
                .col-md-7
                  |  #{data.bid}
              .row
                .col-md-5(style='text-align: right;')
                  label Plate Number :
                .col-md-7
                  |  #{data.plno}
              .row
                .col-md-5(style='text-align: right;')
                  label Method of Payment :
                .col-md-7
                  |  #{data.method}
              .row
                .col-md-5(style='text-align: right;')
                  label Booked Vehicel on :
                .col-md-7
                  |  #{data.sdt}
              .row
                .col-md-5(style='text-align: right;')
                  label Booked Vehicle till :
                .col-md-7
                  |  #{data.edt}
              .row
                .col-md-5(style='text-align: right;')
                  label Booked Vehivle for :
                .col-md-7
                  |  #{data.ndays} day(s)
            .col-md-4
              if (data.vtype == 'Car')
                .fa.fa-car(style='font-size: 4em; padding: 70px; color:#3fb7d2;')
              else
                .fa.fa-motorcycle(style='font-size: 4em; padding: 70px; color:#15c01c')
      else
        div(style='text-align: center; margin: 5%;')
          h4 No Bookings Yet !
          a(href='/homeUser') Click Here
          |   to make one.
