doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-fixed-top.topHeader
      .container-fluid.row
        .container(style='body: flex')
          div
            .navbar-header(style='padding-top: 7px')
              a.logo(href='')
            .nav.navbar-nav.navbar-right.welcome
              label.text-capitalize Welcome  #{uid} !
      .container-fluid.row(style='background-color: #018DB1')
        .container(style='body: flex')
          ul.nav.nav-pills.tabsButtons
            li
              a(href='/homeUser') Vehicles
            li
              a(href='/previousBookings') Booking History
            li
              a(href='/settings') Settings
            li.navbar-right
              a(href='/login') Logout
    .container(style="margin-top: 160px; body: flex;")
      h2 Your details
    .container(style="body: flex;")
      if (data.length)
        div.card.card-dark(style='margin: 5%; padding: 0%;')
          .row
            .col-md-7(style='padding:4%; text-align: center;')
              .row
                .col-md-5(style='text-align: right;')
                  label User ID :
                .col-md-7(style='text-align: left;')
                  |  #{data[0].uid}
              .row
                .col-md-5(style='text-align: right;')
                  label Name :
                .col-md-7(style='text-align: left;')
                  |  #{data[0].name}
              .row
                .col-md-5(style='text-align: right;')
                  label Email ID :
                .col-md-7(style='text-align: left;')
                  |  #{data[0].email}
              .row
                .col-md-5(style='text-align: right;')
                  label Phone Number :
                .col-md-7(style='text-align: left;')
                  |  #{data[0].pno}
              .row
                .col-md-5(style='text-align: right;')
                  label Address :
                .col-md-7(style='text-align: left;')
                  |  #{data[0].address}
              .row
                .col-md-5(style='text-align: right;')
                  label Wallet Balance :
                .col-md-7(style='text-align: left;')
                  |  #{data[0].wallet}
            .col-md-5(style='text-align: center; padding: 4%')
              img(src=imgSrc, style='height: 175px; width: 175px; border-radius: 50%;')
    .container(style="body: flex;")
      h2 Edit your details
    .container(style="body: flex;")
      if (valid == 3)
        form(method='post', action='/settings/change')
          .row
          .row(style='margin: 5%')
            .col-md-2(style='text-align: right;')
              .glyphicon.glyphicon-pencil
            .col-md-10
              input.btn.btn-primary(type="submit", name="chgPass", value="Update Password", style="width: 200px")
        form(method='post', action='/settings/changeBal')
          .row(style='margin: 5%')
            .col-md-2(style='text-align: right;')
              .glyphicon.glyphicon-plus
            .col-md-10
              input.btn.btn-primary(type="submit", name="chgBal", value="Update Wallet", style="width: 200px")
      if (valid == 4)
        form(method='post', action='/settings/changePass')
          div(style='margin: 5%;')
            .row
              .col-md-4(style='text-align: right; margin-top: 1.2%')
                label Old Password :
              .col-md-8
                input(type="password", name="oldPass", required='', autofocus='' style="margin-top: 1%")
            .row
              .col-md-4(style='text-align: right; margin-top: 1.2%;')
                label New Password :
              .col-md-8
                input(type="password", name="newPass", required='',  style='margin-top: 1.2%')
          .row(style='margin: 2%;')
            .col-md-3
            .col-md-5
              input.btn.btn-warning.longer(type="submit", name="chgPass", value="Change Password")
            .col-md-4
      if(valid == 5)
        form(method='post', action='/settings/updateBal')
          div(style='margin: 5%;')
            .row
              .col-md-4(style='text-align: right;')
                label Current Balance :
              .col-md-8
                |  Rs. #{balance}/-
            .row
              .col-md-4(style='text-align: right; margin-top: 1.2%;')
                label Add Balance of :
              .col-md-8
                | Rs.
                input(type="number", name="newBal", required='', autofocus='', min='0', style='margin-top: 1.2%')
          .row(style='margin: 2%;')
            .col-md-3
            .col-md-5
              input.btn.btn-success.longer(type="submit", name="chgBal", value="Update Balance")
            .col-md-4
    .container(style="body: flex;")
      if (valid == 0)
        div(style='margin: 5%;')
          .row
            .col-md-3
            .col-md-6.alert.alert-success(style='text-align: center;')
              strong Success !
              |  Changed Password Successfully.
            .col-md-3
      else if (valid == 1)
        div(style='margin: 5%;')
          .row
            .col-md-3
            .col-md-6.alert.alert-danger(style='text-align: center;')
              strong Sorry !
              |  Old Password is wrong.
            .col-md-3
      else if (valid == 2)
        div(style='margin: 5%;')
          .row
            .col-md-3
            .col-md-5.alert.alert-info(style='text-align: center;')
              strong Sorry !
              |  New Password is same as old password.
            .col-md-4
      else if (valid == 6)
        div(style='margin: 5%;')
          .row
            .col-md-3
            .col-md-5.alert.alert-success(style='text-align: center;')
              strong Hurray !
              |  Updated Balance.
            .col-md-4
          .row
            .col-md-3
            .col-md-5(style='text-align: center;')
              h4 New Balance : Rs. #{totBal}/-
            .col-md-4
      if (valid == 1 || valid == 2 || valid == 0 || valid == 6)
      div
        .row
          .col-md-3
          .col-md-4(style='text-align: right; padding-right: 60px')
            a(href='/settings')
              if (valid == 1 || valid == 2)
                button.btn.btn-info.longer(value='Retry') Retry
              else if (valid == 0 || valid == 6)
                button.btn.btn-info.longer(value='Done') Done
          .col-md-5
