doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    script(type='text/javascript', src='//cdn.jsdelivr.net/jquery/1/jquery.min.js')
    script(type='text/javascript', src='//cdn.jsdelivr.net/momentjs/latest/moment.min.js')
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='//fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') RentalRides
      div
        label Welcome  #{eid} !
    header
      ul
        li
          a(href='/homeEmp') Garage Details
        li
          a(href='/settingsEmp') Settings
        li
          a(href='/login') Logout
    div
      if (data.length)
        label Employee ID: #{data[0].uid}
        br
        label Email ID: #{data[0].email}
        br
        label Phone No.: #{data[0].pno}
        br
        label Address: #{data[0].address}
        br
    br
    div
      if (valid == 3)
        form(method='post', action='/settingsEmp/change')
          input(type="submit", name="chgPass", value="Update")
      if (valid == 4)
        form(method='post', action='/settingsEmp/changePass')
          label Old Password:
          input(type="password", name="oldPass", required='', autofocus='')
          br
          label New Password:
          input(type="password", name="newPass", required='')
          br
          input(type="submit", name="chgPass", value="Change Password")
    div
      if (valid == 0)
        label Password changed successfully !!!
      else if (valid == 1)
        label Old password is wrong.
      else if (valid == 2)
        label Old password same as new password.
      br
      if (valid == 1 || valid == 2)
        a(href='/settingsEmp')
          button(value='Retry') Retry
